/*/////mobile////*/
@media all and (max-width: 600px) {
  body{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .col-xs-12, .row{
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    height: inherit;
  }
  .wrapper{
    width: 100%;
    padding: 0px;
  }

  .backChoco{
    height: 100vh;
    background-size: contain;
    background-position: top;
  }

  .landingCopy{
    width: 70%;
    max-height: 200px;
    margin: 40px auto;
    position: relative;
    display: block;

  }

  .logotema{
    display: block;
    position: relative;
    margin: 0px auto;
    bottom: 0px;
  }

  .crear{
    display: block;
    bottom: 0px;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px;

  }

  /*velo*/
  .velo{
    width: 100%;
  }
  .velo img{
    width: 70%;
    margin: 0 auto;
  }
  .home_container, .realizaContainer {
      height: auto;
      min-height: 100vh;
      overflow: auto;
      margin: 0px;
      padding: 0px;
      position: relative;
      background-size: cover;
  }
  .chocoContainer > p{
    width: 80%;
    font-size: large;
    text-align: center;
    padding: 8px 10px;
    margin: 0 auto;
    line-height: normal;
  }
  .realizaContainer .slider{
    margin: 0px;
  }
  .velo_general img{
    width: 190px !important;
  }
}
