/*/////mobile////*/
@media all and (max-width: 600px) {
  body{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .col-xs-12, .row{
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    height: inherit;
  }
  .wrapper{
    width: 100%;
    padding: 0px;
  }
  .home_container, .eligeContainer{
    height: auto;
    min-height: 100vh;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-size: cover;
  }
  .backChoco{
    padding: 10vh 0 0 0;
    height: 100vh;
    background-size: contain;
    background-position: top;
  }
  .landingCopy{
    width: 70%;
    max-height: 200px;
    margin: 0px auto;
    position: relative;
    display: block;
    background-size: contain;
  }

  .logotema{
    display: block;
    position: absolute;;
    margin: 20px auto;
    bottom: 15vh;
  }
  .crear{
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    margin: 0 auto;
    width: 80px;
    height: 80px;

  }


  /*/pantalla 2/*/
  .eligeContainer .circles{
    width: 100%;
    height: 400px;
    overflow-x: scroll;
  }
  .circlesHolder{
    min-width: 900px;
  }

}
